* {
  /* General taskbar font, I like maple mono ^-^*/
  font-family: Maple Mono;
  border-radius: 8;
  font-size: 14px;
  padding: 0px;
  background: transparent;
}

window#waybar {
  /* Linear gradients are used because it makes less harsh rounded border radius, gtk bug :p */
  background-image: linear-gradient(to bottom, #141216 100%);
  border-radius: 14px; 
  padding: 0px;
  border-style: none;
}

#battery,
#network,
#clock,
#custom-applauncher,
#tray,
#workspaces,
#pulseaudio {
  background-image: linear-gradient(to bottom, #27232b 100%);

  margin: 2px 2px 2px 0;
  padding: 4px 8px;
  border-radius: 8px;
  color: #d8cab8;
  font-weight: bold;

  border-style: none;
  transition-duration: 120ms;
}

#clock {
  margin-right: 2px;
}

#pulseaudio:hover {
  background-image: linear-gradient(to bottom, #ac82e9 100%);
  color: #88efd2;
  transition-duration: 120ms;
}

#custom-applauncher {
  font-weight: bold;
  transition-duration: 120ms;
}

#custom-applauncher:hover {
  background-image: linear-gradient(to bottom, #e167f4 100%);
  color: #141216;
  transition-duration: 120ms;
}

#custom-exit {
    background-image: linear-gradient(to bottom, #e167f4 100%);
    border-radius: 8px;
    font-weight: bold;
    color: #141216;
    padding: 4px 8px;
    margin: 2px 2px 2px 0;
    margin-left: 2px;
}

#custom-exit:hover {
    background-image: linear-gradient(to bottom, #d8cab8 100%);
    color: #141216;
    transition-duration: 120ms;
}

#tray menu {
  background-color: #141216;
  color: #d8cab8;
  padding: 4px;
}
#tray menu menuitem {
  background-image: linear-gradient(to bottom, #27232b 100%);

  margin: 3px;
  color: #d8cab8;
  border-radius: 4px;
  border-style: solid;
  border-color: #27232b;
}
#tray menu menuitem:hover {
  background-image: linear-gradient(to bottom, #27232b 100%);
  color: #ac82e9;
  font-weight: bold;
}

#workspaces button {
  transition-duration: 100ms;
  all: initial;
  min-width: 0;
  font-weight: bold;
  color: #d8cab8;
  margin-right: 0.2cm;
  margin-left: 0.2cm;
}

#workspaces button:hover {
  transition-duration: 120ms;
  color: #8f56e1;
}
#workspaces button.focused {
  color: #e167f4;
  font-weight: bold;
}
#workspaces button.active {
  color: #e167f4;
  font-weight: bold;
}
#workspaces button.urgent {
  color: #fcb167;
}

#battery {
  background-color: #222222;
}
#battery.warning,
#battery.critical,
#battery.urgent {
  color: #d8cab8;
  background-color: #fc4649;
}